{% extends "base.html.jinja" %}
{%block head%}
    <title>Products</title>
    <link rel="stylesheet" href="../static/products.css"/>
{%endblock%}
{%block navbar_content%}

    <a href="/">Home</a>
    <a href="/extract_form">Ekstrakcja produktu</a>

{%endblock%}
{%block container%}

    <div id="products_container" class="container h-50 w-25 text-center">
        <img src="../../static/assets/icons8-coins-100.png" width="100px" height="100px"/>
        <h1>Produkty</h1>
        <table class="mx-auto">
            {%for product in products%}
                <tr>
                    <td><span>{{product}}<span></td>
                    <td><a class="nav-link" href="{{url_for('product', product_name=product)}}"><button class="more">Więcej</button></a></td>
                    <td>
                    <form method="post">
                    <input type="text" name="product" id="product" value={{product}}/>
                    <input type="submit" class="delete" value="Usuń">
                    </form>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>

{% endblock %}