{% extends "base.html.jinja" %}
{%block head%}
    <title>Products</title>
    <link rel="stylesheet" href="../static/products.css"/>
{%endblock%}
{%block navbar_content%}

    <a href="/">Home</a>
    <a href="/extract_form">Ekstrakcja produktu</a>

{%endblock%}
{%block container%}
    <div class="d-flex flex-column text-center">
    <img src="../../static/assets/icons8-coins-100.png" class="mx-auto" width="100px" height="100px"/>
    <h1 style="color:orange">{{product_name}}</h1>   
    <span>Średnia ilośc gwiazdek:{{data.avg_stars}}</span>
    <span>Polecana przez {{data.avg_recommendations}}% kupujących</span>
    <img class="img-fluid" src={{plot}}/>
    </div>
{%endblock%}