form{
    
    label{
        font-size:18px;
        color:black;
    }

    input[type="text"]{
        border:none;
        border-bottom:2px solid rgba(0,0,0,0.33);
        transition:all 0.3s ease;
        margin:8px 0px 30px 0px;
        font-size:22px;

        &:focus{
            border-color:orange;
            outline:none;
        }
    }

    input[type="submit"]{
        color:white;
        background-color:orange;
        width:140px;
        height:40px;
        border:none;
        transition:all 0.4s ease;

        &:hover{
            opacity:0.8;
        }
    }

}