<html>
    <head>
        <meta charset="utf-8">
        <title>Ceneo Scrapper</title>
    </head>
    <body>
        <h1>Ceneo Scrapper</h1>
        <div>
        {% block content%}
        
        {% endblock %}
        </div>
    </body>
</html>